config bridge_espnow
	# Whether this instance is disabled
	option disabled '1'

	# Far layer
	# One of: mqtt, local_broker
	# Required
	option far_layer 'mqtt'

	# Logging verbosity
	# One of: debug, info, warn, error, off
	# Default: info
	option log_level 'warn'

	# Wireless interface for ESP-NOW (must be in monitor mode - 802.11 radiotap)
	# Required
	option interface 'phy0-mon0'

	# SSID (32-bit unsigned integer)
	# Used to separate near-by SPSP networks
	# Default: 0
#	option ssid '1234567890'

	# Password (must be 32 bytes long)
	# Pre-shared key used for encryption of ESP-NOW communication
	# Default: 32 bytes of null byte
#	option password 'X6SONhP6xNHtj5niA3F1ojXLcx5sccTk'

	# URI of MQTT server
#	option mqtt_uri 'mqtts://test.mosquitto.org'

	# Path to server verification certificate (CA)
#	option mqtt_verify_crt '/etc/spsp/ca.crt'

	# Keepalive interval in seconds (0 to disable keepalive)
	# Default: 120
#	option mqtt_keepalive '120'

	# QoS for sent messages and subscriptions
	# One of: 0, 1, 2
	# Default: 0
#	option mqtt_qos '0'

	# Retain flag for sent messages
	# Default: false
#	option mqtt_retain 'false'

	# Connection timeout in ms
	# Default: 10000
#	option mqtt_conn_timeout '10'

	# Username
#	option mqtt_username 'user'

	# Password
#	option mqtt_password 'pass'

	# Client ID
	# Default: `spsp_xxx`, where `xxx` is MAC address
#	option mqtt_client_id 'client001'

	# Path to authentication TLS certificate
#	option mqtt_crt '/etc/spsp/client.crt'

	# Path to private key for TLS authentication
#	option mqtt_crt_key '/etc/spsp/client.key'

	# Last Will topic
#	option mqtt_lwt_topic 'last_will'

	# Last Will message
#	option mqtt_lwt_msg 'Hello!'

	# Last Will QoS
	# One of: 0, 1, 2
	# Default: 0
#	option mqtt_lwt_qos '0'

	# Last Will retain flag
	# Default: false
#	option mqtt_lwt_retain 'false'

	# Topic prefix for publishing
	# Default: spsp
#	option mqtt_topic_prefix 'spsp'

	# Topic prefix for publishing
	# Default: spsp
#	option local_broker_topic_prefix 'spsp'
